<div class="container" style="min-height: 5vw">
  <ul>
    <li><a class="active" href="#home">Home</a></li>
    <li><a [routerLink]="['/about']">about</a></li>
    <li><a class="btn btn-success" [routerLink]="['/contact']">contact</a></li>
    <li><a [routerLink]="['/prod']">prodppppp</a></li>
  </ul>
</div>
Desc:<input #desc /> Price:<input #price />
<button (click)="addData(desc.value, price.value)">Add new data</button>

<hr />
<h1>My shop</h1>
<div *ngFor="let item of arProducts">
  <div>
    <button (click)="delData(item.id)">Del -{{ item.id }}</button>
    <button (click)="updData(item.id, desc.value, price.value)">
      update -{{ item.id }}
    </button>
    <h2>
      {{ item.name }}
      <span style="color: blue">{{ item.email }}</span>
    </h2>
  </div>
</div>
<router-outlet></router-outlet>
